body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7; /* กำหนดสีพื้นหลังเป็นสีเทาอ่อน */
}

.page2-content {
    font-size: 24px;
    color: #333; /* กำหนดสีข้อความเป็นสีดำ */
    text-align: center;
    padding: 20px;
}
